html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#skip {
  color: black;
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */
}

#skip:focus {
  right: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2.4em;
}

#navigation {
  width: 25%;
}

#navigation button {
  display: none;
}

/* This has higher specificity /
 * type -> class -> id */
/*#navigation ul {*/
  /*display: flex;*/
  /*justify-content: space-around;*/
/*}*/

.nav-links {
  display: block;
  padding: 0;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

#navigation ul li {
  list-style-type: none;
  display: inline-block;
}

@media(max-width: 768px) {
  #navigation button {
    display: block;
  }
  .nav-links {
    display: none;
  }

  #navigation ul li {
    display: block;
  }
}

/*
 *
 * This is kept below the media query
 * so that it would be the one on top of the cascade
 *
 */
.open {
  display: block;
  z-index: 50;
  width: 100vw;
  position: absolute;
  left: 0;
  text-align: center;
  top: 70px;
  background-color: white;
}

.open li {
  padding: 1em 0;
}

main {
  /*max-width: 60em;*/
  /*max-width: 60rem;*/
}

p {
  font-size: 1em;
  line-height: 1.48;
}

.featured_articles {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "article_1 article_2"
  "article_1 article_3"
  "article_1 article_4";
  max-height: 100vh;
}

.featured_articles a {
  display: block;
  max-width: 70vw;
  height: 100%;
}

.featured_articles figure {
  margin: 0;
  height: 100%;
}

.featured_articles img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured_articles figcaption {
  transform: translatey(-1vh) translatex(1vw);
}

.featured_articles a:nth-child(1) { grid-area: article_1; }
.featured_articles a:nth-child(2) { grid-area: article_2; } 
.featured_articles a:nth-child(3) { grid-area: article_3; }
.featured_articles a:nth-child(4) { grid-area: article_4; }
